@model FIT5032_app.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", null, htmlAttributes: new { id = Model.EventId, @class = "btn btn-info" })
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("normal") && Model.Available.ToString().Equals(bool.TrueString) && Model.StartDateTime >= DateTime.Now)
    {
        using (@Html.BeginForm("Create", "Bookings", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="hidden" name="eventId" value= @Model.EventId />
                <input type="submit" value="Book This Event" class="btn btn-success" />

            </div>
        }


    }
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
