@model IEnumerable<FIT5032_app.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event List</h2>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New Event", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.EventId }, new { @class = "btn btn-info" })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }, new { @class = "btn btn-primary" })
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.EventId }, new { @class = "btn btn-danger" })
                    }
                    

                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("normal") && item.Available.ToString().Equals(bool.TrueString) && item.StartDateTime >= DateTime.Now)
                    {
                        using (@Html.BeginForm("Create", "Bookings", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="hidden" name="eventId" value=@item.EventId />
                                <input type="submit" value="Book" class="btn btn-success" />

                            </div>
                        }


                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                //Set the default order of events, ordering by the latest date.
                "order": [1, 'desc']
            });
        });
    </script>

}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
