@model  FIT5032_app.Models.BookingEmailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.Event.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Event.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.Event.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Event.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.Event.EventLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Event.EventLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.Event.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Event.Description)
        </dd>



    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
