@model IEnumerable<FIT5032_app.Models.BookingEmailViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("admin"))
{
    <h2>Current Booking List</h2>
}
@if (User.IsInRole("normal"))
{
    <h2>Your Current Booking List</h2>
}


<p>
    @Html.ActionLink("Book A New Event", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Event.EventName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Event.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Event.EventLength)
            </th>
            @*If the current login user is admin, displaying the user email of each booking record*@
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
            }
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Event.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Event.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Event.EventLength)
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                }
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.Booking.BookingId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Cancel Booking", "Delete", new { id = item.Booking.BookingId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    
}
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
