@model IEnumerable<FIT5032_app.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Current Booking List</h2>

<p>
    @Html.ActionLink("Book A New Event", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventLength)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventLength)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Cancel Booking", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
